@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: #f4f7fa;
    color: #333;
}

.dashboard {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #001529 ;
    height: 100vh;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.logout-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}

